<h1>Fish Game</h1>

<div app-fishgame>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td ng-click="newFish(10, 40)" style="white-space:nowrap; cursor:pointer; padding:5px;">Add Fish</td>
							</tr>
							<tr>
								<td ng-click="addFood();" style="white-space:nowrap; cursor:pointer; padding:5px;">Add Food</td>
							</tr>
							<tr>
								<td id="stats"></td>
							</tr>		
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td valign="top"><div id="fishDiv" style="position:relative; height:600px; width:600px; border:1px solid #000;"></div></td>
			</tr>
		</tbody>
	</table>
</div>