.game-area{
	border:1px solid #000;
	width:1000px;
	height:400px;
}

.add-link{
	cursor:pointer;
}

.animal{
	position: absolute;
	height:15px;
	width:50px;
	background-color: #CCC;
}

.fish-animal{

}

.bug-animal{

}