<h1>Life Game</h1>

<div app-lifegame>
	<div class="controlArea">
		<div ng-repeat="type in Species" class="typeButtons">
			<button ng-click="AddAnimal(type.Name,0,0,true,false)">Add {{type.Name}}</button>
			<button ng-click="EditType(type.Name)">Edit</button> <span>{{type.Population}}</span>
		</div>
	<div>

	<button class="pauseButton" ng-click="TogglePause();">Pause</button>
	<div class="gameArea">
		<div ng-repeat="animal in Animals" id="{{animal.ID}}" class="animal" style="height:{{animal.Height}}px;width:{{animal.Width}}px;top:{{animal.Top}}px;left:{{animal.Left}}px; z-index:{{animal.Width}}">
			<img src="{{animal.imageSrc}}" id="{{animal.ID}}Image" style="height:{{animal.Height}}px;width:{{animal.Width}}px;">
		</div>
	</div>
</div>
