.menu li{
	list-style: none;
	display: inline-block;
	padding: 5px 8px;
	background-color: #CCFECC;
	border-bottom: 1px solid transparent;
}

.menu li:hover{
	background-color: #CCCCFF;
	border-bottom: 1px solid #000;
}

.menu li a{
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

